/* these hero styles should go in a CSS file specific to this page */
.hero{
    background: url(images/Stained Glass CSC.jpg) center/cover no-repeat;
    height: 90vh;
    text-align: center;
    padding: 20px;
}

.hero-content{
    color: rgb(255, 255, 255);
    margin: 30px;
}